.director-section{
  background-color: #000;

  .content-card__img{
    max-height: 759px;
    @include transition-03();

    @include respond-max(1350){
      max-height: 641px;
    }
    @include respond-max(1200){
      max-height: 591px;
    }
    @include respond-max(1025){
      max-height: 587px;
    }
  }
}

.director__content-card{
  h3{
    margin-bottom: 45px;
    &:first-of-type{
      max-width: 300px;
    }
  }
  @include respond-max(576){
    h3{
      margin-bottom: 20px;
    }
  }
}


.director-card__inner{
  position: relative;
}
.director__read-more{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  @include size(14px, 10px);
  margin: auto;
  background: url("#{$imgUrl}general/arrow-down.svg")no-repeat center /contain;

  &:hover, &:focus, &:active{
    @include animation(move-on-hover, 0.7);
  }

  @include respond-max(1025){
    bottom: 25px;
  }
}