@font-face {
  font-family: 'Avenir';
  src: url('#{$fontsUrl}Avenir-Black.eot');
  src: url('#{$fontsUrl}Avenir-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}Avenir-Black.woff2') format('woff2'),
  url('#{$fontsUrl}Avenir-Black.woff') format('woff'),
  url('#{$fontsUrl}Avenir-Black.ttf') format('truetype'),
  url('#{$fontsUrl}Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('#{$fontsUrl}Avenir-Light.eot');
  src: url('#{$fontsUrl}Avenir-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}Avenir-Light.woff2') format('woff2'),
  url('#{$fontsUrl}Avenir-Light.woff') format('woff'),
  url('#{$fontsUrl}Avenir-Light.ttf') format('truetype'),
  url('#{$fontsUrl}Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('#{$fontsUrl}Avenir-Medium.eot');
  src: url('#{$fontsUrl}Avenir-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}Avenir-Medium.woff2') format('woff2'),
  url('#{$fontsUrl}Avenir-Medium.woff') format('woff'),
  url('#{$fontsUrl}Avenir-Medium.ttf') format('truetype'),
  url('#{$fontsUrl}Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('#{$fontsUrl}Avenir-Book.eot');
  src: url('#{$fontsUrl}Avenir-Book.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}Avenir-Book.woff2') format('woff2'),
  url('#{$fontsUrl}Avenir-Book.woff') format('woff'),
  url('#{$fontsUrl}Avenir-Book.ttf') format('truetype'),
  url('#{$fontsUrl}Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Young';
  src: url('#{$fontsUrl}Young.eot');
  src: url('#{$fontsUrl}Young.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}Young.woff2') format('woff2'),
  url('#{$fontsUrl}Young.woff') format('woff'),
  url('#{$fontsUrl}Young.ttf') format('truetype'),
  url('#{$fontsUrl}Young.svg#Young') format('svg');
  font-weight: normal;
  font-style: normal;
}

